.header
  position: absolute
  top: 0
  left: 0
  z-index: 10
  width: 100%
  padding: 15px 0
  .container
    display: flex
    align-items: flex-start
    +r(992)
      align-items: center
  &__phone
    margin-top: 50px
    margin-left: auto
    +r(992)
      margin-top: 0